* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 80px;
}

body {
    overflow-x: hidden;
}

.bignavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

.carousel {
    height: 100vh;

}

.carousel-item .carousel-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.carousel-item .carousel-wrapper .text-button {
    width: 500px;
}

.features {
    width: 80%;
    margin: 0 auto;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    gap: 10px;
    width: 224px;
    height: 53px;
}

.col h4 {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    color: #272727;
}

.col p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #3A3A3A;
}

.features li {
    display: flex;
    gap: 1rem;
}

.line {
    border-top: 2px solid #E1E1E1;
}

.photo img {
    width: 310px;
}

.mobile-product {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.mobile-heading {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-heading h2 {
    font-family: Jost;
    color: #272727;
    font-weight: 400;
    font-size: 30px;
}

.mobile-heading p {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    color: #272727;
}

.photo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 1.5rem;
}

.photo-section .photo {
    /* width: 25%; */
    margin-inline: 20px;
}

.photo-section .photo img {
    width: 100%;
    object-fit: contain;
}

.price {
    font-family: jost;
    font-weight: 400;
    display: flex;
    gap: 90px;
    color: #272727;
}


.slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: none;
    color: transparent;

}

.slick-dots .slick-active button {
    background-color: black;
}

.slick-dots {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.photo-section-top {
    /* height: 100vh; */
    background-color: #E1E1E1;
    margin-bottom: 140px;
    width: 100%;
    padding: 1.5rem;
}

.photo-section-top .photo {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 144px;
}

.contain {
    background-color: #EDF1F3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 120px;
    gap: 5rem;
}

.sale-line span {
    display: inline-block;
    width: 48px;
    background: #252525;
    height: 2px;
}

.contain .sale p {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 0;
}

.contain .sale h1 {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 70px;

}

.sale-line {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.contain .btn-dark {
    padding: 16px 50px;
    border-radius: none;
}

.container .latest-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.container .latest-heading .photos-section p {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 13px;
    color: #848484;

}

.container .latest-heading h5 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.photos-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempus p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    text-align: center;
    color: #848484;
    margin-bottom: 30px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.suscribe {
    background-color: #272727;
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    align-items: center;
    margin-bottom: 30px;
}

.suscribe .sus-text h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.suscribe .sus-text p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.suscribe .form {
    display: flex;
}

.shop {
    display: flex;
    justify-content: center;
    font-family: Jost;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 60px;
}

.container .images {
    display: flex;
    gap: 1.5rem;
    height: 244px;
    margin-bottom: 90px;
}

.images .photo {
    width: 20%;
}

.container .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 60px;
}

.container .contact {
    display: flex;
    justify-content: space-around;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #272727;
}

.last-line {
    border-top: 2px solid #D0D0D0;
}

.last-class {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.we-ship-with {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.payment {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.copyright p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}