@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

html {
	scroll-padding-top: 80px;
}

body {
	overflow-x: hidden;
}

.bignavbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-icons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	list-style: none;
}

/* .carousel {
	height: 100vh;
} */

/* .carousel-item .carousel-wrapper {
	display: flex;
	align-items: center;
	/* justify-content: space-between; 
} */

/* .carousel-item .carousel-wrapper .text-button {
	width: 500px;
} */

.text-button h1 {
	font-size: 60px;
	font-family: 'Jost';
	font-weight: 300;
	color: #272727;
	margin-bottom: 30px;
	width: 450px;

	@media (max-width: 768px) {
		width: 100%;
		font-size: 30px;
	}

	@media (max-width: 400px) {
		font-size: 20px;
	}
}

.photo img {
	/* height: 100%; */
	width: 200px;

	@media (max-width: 500px) {
		width: 50px;
	}
}

.features {
	width: 80%;
	margin: 0 auto;
}

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 50px;
	gap: 10px;

	@media (max-width: 500px) {
		padding: 8px 10px;
		font-size: 10px;
	}
}

.hero-photo {
	display: flex;
	align-items: center;
	justify-content: space-between !important;
	margin-right: 30px;
}

.col h4 {
	font-family: 'Jost';
	font-weight: 400;
	font-size: 20px;
	color: #272727;
}

.col p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #3a3a3a;
}

.features li {
	display: flex;
	gap: 1rem;
}

.line {
	border-top: 2px solid #e1e1e1;
}

.mobile-product {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}

.mobile-heading {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobile-heading h2 {
	font-family: 'Jost';
	color: #272727;
	font-weight: 400;
	font-size: 30px;
}

.mobile-heading p {
	font-family: 'Lato';
	font-weight: 500;
	font-size: 14px;
	color: #272727;
}

.photo-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	gap: 1.5rem;
}

.photo-section .photo {
	/* width: 25%; */
	margin-inline: 20px;
}

.photo-section .photo img {
	width: 100%;
	object-fit: contain;
}

.price {
	font-family: 'Jost';
	font-weight: 400;
	display: flex;
	gap: 90px;
	color: #272727;
}

.slick-dots li button {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	border: none;
	color: transparent;
}

.slick-dots .slick-active button {
	background-color: black;
}

.slick-dots {
	display: flex;
	list-style: none;
	gap: 20px;
	justify-content: center;
}

.photo-section-top {
	/* height: 100vh; */
	background-color: #e1e1e1;
	margin-bottom: 140px;
	width: 100%;
	padding: 1.5rem;
}

.photo-section-top .photo {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.contain {
	background-color: #edf1f3;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 120px;
	gap: 5rem;
}

.sale-line span {
	display: inline-block;
	width: 48px;
	background: #252525;
	height: 2px;
}

.contain .sale p {
	font-family: 'Jost';
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 0;
}

.contain .sale h1 {
	font-family: 'Jost';
	font-weight: 300;
	font-size: 70px;
}

.sale-line {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.contain .btn-dark {
	padding: 16px 50px;
	border-radius: none;
}

.container .latest-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.container .photos-section p {
	font-family: "'Jost'";
	font-weight: 400;
	font-size: 13px;
	color: #848484;
}

.container .photos-section h5 {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.photos-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 90px;

	@media only screen and (max-width: 1000px) {
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
}

.photos-section img {
	width: 350px;
	gap: 30px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tempus p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 34px;
	text-align: center;
	color: #848484;
	margin-bottom: 30px;
}

.star {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}

.suscribe {
	background-color: #272727;
	display: flex;
	justify-content: space-around;
	padding: 40px 30px;
	align-items: center;
	margin-bottom: 120px;
	margin-top: 120px;

	@media only screen and (max-width:760px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.suscribe .sus-text h2 {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	color: #fff;
}

.suscribe .sus-text p {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 16px;
	color: #ffffff;
}

.suscribe .form {
	display: flex;

	@media only screen and (max-width:760px) {
		flex-direction: column;
		width: 100%;
	}
}

.shop {
	display: flex;
	justify-content: center;
	font-family: 'Jost';
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 60px;
}

.container .images {
	display: flex;
	gap: 1.5rem;
	height: 244px;
	margin-bottom: 90px;

	@media only screen and (max-width:760px) {
		flex-direction: column;
		flex-wrap: wrap;
		height: auto;
	}
}

.images .photo {
	width: 20%;

	@media only screen and (max-width:760px) {
		width: 100%;
	}
}

.container .images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 60px;
}

.container .contact {
	display: flex;
	justify-content: space-around;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #272727;
}

.last-line {
	border-top: 2px solid #d0d0d0;
}

.last-class {
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: space-around;
}

.we-ship-with {
	display: flex;
	align-items: center;
	gap: 30px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #d7dddf;
}

.payment {
	display: flex;
	align-items: center;
	gap: 30px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #d7dddf;
}

.copyright p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #d7dddf;
}

.container .last-class>div p {
	margin-bottom: 0;
}

.container .last-class {
	padding: 1rem 0;
}

@media screen and (max-width: 500px) {
	.container .contact {
		flex-direction: column;
		gap: 1.5rem;
	}

	.container .last-class {
		flex-direction: column;
	}

	.container .copyright {
		text-align: center;
	}
}

/* aboutus */
.aboutus-heading {
	background-color: #EDF1F3;
	padding: 40px 20px;

	@media only screen and (max-width:760px) {
		width: 100%;
	}
}

.container .aboutus-h1 {
	text-align: center;
	color: #272727;
	font-family: 'Jost';
	font-size: 83px;
	font-weight: 300;

	@media only screen and (max-width:760px) {
		font-size: 40px;
	}
}

.aboutus-hero {
	display: flex;
	align-items: center;
	gap: 70px;
	margin-bottom: 60px;
}

.aboutus-hero .aboutus-video img {
	height: 400px;
	display: flex;
	flex-wrap: wrap;
}

/* shop*/

.shop-heading {
	display: flex;
	justify-content: space-between;

	p {
		font-size: 16px;
		font-family: 'Lato';
		font-weight: 300;
	}

}

.shop-body {
	display: flex;
	gap: 30px;

	.search-button {
		display: flex;
		align-items: flex-start;
	}
}

.shop-photo-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px;
	margin-bottom: 90px;
}

ul {
	list-style: none;
	padding-left: 0 !important;
	margin-bottom: 4rem !important;
}

.categories h5 {
	font-family: 'Jost';
	color: #272727;
	font-size: 20px;
	text-decoration: underline #848484;



	p {
		font-family: 'Lato';
		color: #373737;
		font-size: 28px;
	}
}

/* product page */

.product-page {
	display: flex;
	gap: 30px;
}

.product-page p {
	font-family: 'Lato ';
	font-size: 18px;
	font-weight: 400;

}

.cart h4 {
	font-family: 'Jost';
	font-size: 30px;
	font-weight: 400;
}

.product-page .watch-photo img {
	width: 640px;
	object-fit: cover;
	height: 80vh;
}

.inc-dec .quantity {
	text-align: center;
	width: 70px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	transition: 0.3s;
	border: none;
}

.increment {
	font-size: 16px;
	width: 30px;
	height: 30px;
	border: none;
}

.decrement {
	font-size: 16px;
	width: 30px;
	height: 30px;
	border: none;
}

/* product page's description */
.description-heading {
	display: flex;
	justify-content: center;
	gap: 90px;
}

.long-line {
	border-top: 1px solid #cdcdcd;
}

.description-body p {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
	color: #3A3A3A;
}

/* cart */
.cart-table img {
	width: 150px;
}

.td-text p {
	font-family: 'Lato';
	font-weight: 400;
}

.table-product {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.table-quantity {
	position: relative;
}

.table-quantity div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.td-price {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.td-cross svg {
	height: 40px;
	width: 35px;
}

.carttotal-table {
	display: flex;
	align-items: center;
	width: 530px;
	justify-content: space-between;
}

.carttotal-wrapper {
	margin-top: 80px;
}

.carttotal-table p {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
}

.carttotal-buttons button {
	padding: 16px 50px;
	border-radius: none;
}

.carttotal-buttons {
	margin-bottom: 120px;
	margin-top: 20px;
}

.form-check {
	margin-bottom: 10px !important;
}

.form-check-input:checked {
	background-color: #72AEC8 !important;
	border-color: #72AEC8 !important;
	accent-color: #72AEC8 !important;
}

.form-check-label {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 16px;
	color: #3A3A3A;
}

/* checkout */
.checkout-form {
	display: flex;
	justify-content: space-around;
}

/*contact us*/
.contactus {
	display: flex;
	justify-content: space-between;
}

.contact-info h3 {
	font-family: 'Jost';
	font-size: 30px;
	font-weight: 400;
}

.contact-info p {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 300;
}

.contact-wrapper {
	display: flex;
	gap: 30px;
	align-items: flex-start;
}

.contact-wrapper h5 {
	font-family: 'Jost';
	font-size: 20px;
	font-weight: 400;
	text-decoration: underline;
}

.contact-wrapper p {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
}

.any-questions h3 {
	font-family: 'Jost';
	font-size: 30px;
	font-weight: 400;
}

.any-questions p {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 300;
}

/* contactus body */
.contact-body {
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: space-around;
}

.contact-img img {
	width: 500px;
	height: 480px;
}

/* blog */

.hero-blog {
	display: flex;
	gap: 60px;
}

.blog .search-button {
	display: flex;
	align-items: center;
	width: 290px;
}

.blog .categories ul li {
	display: flex;
	align-items: center;
}

.photo .time-description p{
   font-size: 13px;
}
.photo .time-description span {
	color: #272727;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* blog 2 */
.blog2-photo {
	height: 650px;
}

.blog2-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
	flex-wrap: wrap;
}

.blog2-blogs p{
	font-family: 'Lato';
	font-weight: 400;
	
}
.blog2-blogs h2 {
	font-family: 'Lato';
	font-weight: 300;
}

.img-text {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.img-text img {
	width: 530px;
    flex-shrink: 0;
    height: 350px;
    object-fit: cover;
}

.velit-text p {
      font-family: 'Lato';
	  font-weight: 300;
}

.after-img-text {
	font-family: 'Lato';
	font-weight: 300;
	margin-bottom: 30px;
}

.share {
	display: flex;
	justify-content: space-between;
}

.tips {
	display: flex;
	gap: 20px;
	font-family: 'Lato';
	font-weight: 400;
}

.social-links {
	display: flex;
	gap: 20px;
}

.slides {
	display: flex;
	justify-content: space-between;
}

.left-slide {
	display: flex;
	gap: 20px;
}

.right-slides {
	display: flex;
	gap: 20px;
}

.forms-2 {
	display: flex;
	gap: 30px;
}
.forms-2 .mb-3 {
	width: 750px;
}

.leave-comment  .btn-dark{
	padding: 16px 50px;
	border-radius: none;
	margin-bottom: 30px;
}

/* leave comments */
.comments {
	display: flex;
	align-items: center;
	gap: 20px;
}